/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.boxs .boxsGridLines, .bocaditosLunch .bocaditosLunchGridLines, .sandMiga .sandMigaGridLines, .panaderia .panaderiaGridLines {
  width: 80vw;
  margin: 0 auto;
}

/* FONT FACE uso de tipografia descargada */
@font-face {
  font-family: "Boston Traffic";
  src: url(../assets/fonts/boston_traffic.ttf);
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

ul {
  list-style: none;
}

li > a {
  color: rgb(63, 2, 2);
  text-decoration: none;
  font-size: 15px;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
}

nav {
  width: 100%;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main h1 {
  text-align: center;
  padding: 10px;
  color: rgb(63, 2, 2);
  text-transform: uppercase;
}

.logo {
  width: 128px;
}

.logo img {
  width: 100%;
  height: 15%;
}

/* main, de index */
#fondoPrincipal {
  background-color: white;
}
#fondoPrincipal .heroSection {
  background-image: url(../assets/img/fondo_01.webp);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 70vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#fondoPrincipal .heroSection .heroTxt {
  font-size: 50px;
  font-weight: 600px;
  font-style: italic;
  color: rgba(27, 2, 1, 0.925);
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 75%;
  padding: 25px;
  margin-right: 20px;
  text-align: center;
  text-justify: center;
}

.colorContacto {
  background-color: rgb(63, 2, 2);
}

.carousel {
  margin: 2rem 2rem;
  /*width: fit-content;*/
  width: auto;
  /*height: min-content;*/
}

.carousel img {
  width: 5vw;
  height: 50vh;
}

.precios section {
  margin: 6px 7px;
}

.precios h3 {
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.carouselMenu {
  color: black;
  background-color: aliceblue;
  border-radius: 5%;
}

.carouselPrecio {
  color: black;
  background-color: blanchedalmond;
  border-radius: 5%;
}

.productos h3 {
  font-size: 1.5rem;
  text-align: center;
  color: rgb(63, 2, 2);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.gridProductosLunchs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "servicios_lunch_10_personas promo_50_triples_mas_picada servicio_lunch_para_5_6_personas servicio_lunch_para_20_personas";
  width: 80vw;
  height: 25vh;
  margin: 0 auto;
  gap: 10px;
  position: relative;
  background-color: rgba(167, 142, 157, 0.831372549);
  padding: 7px;
}

.gridProductosLunchs img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 0; /*  Permite que se reduzca si es necesario y ayuda a que las imagenes se vean siempre bien*/
}

.gridProductosLunchs .servicios_lunch_10_personas {
  grid-area: servicios_lunch_10_personas;
}

.gridProductosLunchs .promo_50_triples_mas_picada {
  grid-area: promo_50_triples_mas_picada;
}

.gridProductosLunchs .servicio_lunch_para_5_6_personas {
  grid-area: servicio_lunch_para_5_6_personas;
}

.gridProductosLunchs .servicio_lunch_para_20_personas {
  grid-area: servicio_lunch_para_20_personas;
}

.productos .boxs div img {
  width: 100%;
}

/*** grid lineas ***/
.boxs .boxsGridLines {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr) minmax(300px, 2fr);
  grid-template-rows: repeat(3, 1fr); */
  grid-template-columns: repeat(5, 1rf);
  grid-template-rows: repeat(3, 1rf);
  gap: 10px;
  background-color: rgba(167, 142, 157, 0.831372549);
  justify-items: center;
  padding: 10px;
}

.boxs .boxsGridLines .card.boxSalada {
  grid-column: 1/2;
  grid-row: 1/2;
}

.boxs .boxsGridLines .card.box_tabla_quesos_fiambres {
  grid-column: 2/3;
  grid-row: 1/2;
}

.boxs .boxsGridLines .card.box_compartir {
  grid-column: 3/4;
  grid-row: 1/2;
}

.boxs .boxsGridLines .card.box_dulces {
  grid-column: 4/5;
  grid-row: 1/2;
}

.boxs .boxsGridLines .card.box_premium_lunch_ {
  grid-column: 1/2;
  grid-row: 2/2;
}

.boxs .boxsGridLines .card.box_veggie_lunch {
  grid-column: 2/3;
  grid-row: 2/2;
}

.boxs .boxsGridLines .card.box_4_mini_cakes {
  grid-column: 3/4;
  grid-row: 2/2;
}

.boxs .boxsGridLines .card.box_mini_bagels {
  grid-column: 4/5;
  grid-row: 2/2;
}

.productos .bocaditosLunch div img {
  width: 100%;
}

.bocaditosLunch .bocaditosLunchGridLines {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr) minmax(300px, 2fr);
  grid-template-rows: repeat(3, 1fr); */
  grid-template-columns: repeat(5, 1rf);
  grid-template-rows: repeat(3, 1rf);
  gap: 10px;
  background-color: rgba(167, 142, 157, 0.831372549);
  justify-items: center;
  padding: 10px;
}

.bocaditosLunch .bocaditosLunchGridLines .card.fosforito_jamon_queso {
  grid-column: 1/2;
  grid-row: 1/2;
}

.bocaditosLunch .bocaditosLunchGridLines .card.pancito_crudo_rucula_parmesano {
  grid-column: 2/3;
  grid-row: 1/2;
}

.bocaditosLunch .bocaditosLunchGridLines .card.pan_cheddar_pollo {
  grid-column: 3/4;
  grid-row: 1/2;
}

.bocaditosLunch .bocaditosLunchGridLines .card.chips_brioche {
  grid-column: 4/5;
  grid-row: 1/2;
}

.bocaditosLunch .bocaditosLunchGridLines .card.empanaditas {
  grid-column: 1/2;
  grid-row: 2/2;
}

.bocaditosLunch .bocaditosLunchGridLines .card.mediaslunas_jamon_queso {
  grid-column: 2/3;
  grid-row: 2/2;
}

.bocaditosLunch .bocaditosLunchGridLines .card.canastitas_soufle_surtidas {
  grid-column: 3/4;
  grid-row: 2/2;
}

.bocaditosLunch .bocaditosLunchGridLines .card.triangulos_pollo_champiniong {
  grid-column: 4/5;
  grid-row: 2/2;
}

.productos .sandMiga div img {
  width: 100%;
}

.sandMiga .sandMigaGridLines {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr) minmax(300px, 2fr);
  grid-template-rows: repeat(3, 1fr); */
  grid-template-columns: repeat(5, 1rf);
  grid-template-rows: repeat(2, 1rf);
  gap: 10px;
  background-color: rgba(167, 142, 157, 0.831372549);
  justify-items: center;
  padding: 10px;
}

.sandMiga .sandMigaGridLines .card.triples_tradicionales_24 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.sandMiga .sandMigaGridLines .card.triples_jamon_queso_24 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.sandMiga .sandMigaGridLines .card.triples_jamon_queso_50 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.sandMiga .sandMigaGridLines .card.triples_tradicionales_eleccion {
  grid-column: 4/5;
  grid-row: 1/2;
}

.productos .tortas div img {
  width: 100%;
}

.tortas .tortasGridLines {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr) minmax(300px, 2fr);
  grid-template-rows: repeat(3, 1fr); */
  grid-template-columns: repeat(5, 1rf);
  grid-template-rows: repeat(2, 1rf);
  width: 80vw;
  margin: 0 auto;
  gap: 10px;
  background-color: rgba(167, 142, 157, 0.831372549);
  justify-items: center;
  padding: 10px;
}

.tortas .tortasGridLines .card.torta_bonobon {
  grid-column: 1/2;
  grid-row: 1/2;
}

.tortas .tortasGridLines .card.torta_mouse_nutella {
  grid-column: 2/3;
  grid-row: 1/2;
}

.tortas .tortasGridLines .card.torta_garoto {
  grid-column: 3/4;
  grid-row: 1/2;
}

.tortas .tortasGridLines .card.torta_africana {
  grid-column: 4/5;
  grid-row: 1/2;
}

.productos .panaderia div img {
  width: 100%;
}

.panaderia .panaderiaGridLines {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr) minmax(300px, 2fr);
  grid-template-rows: repeat(3, 1fr); */
  grid-template-columns: repeat(5, 1rf);
  grid-template-rows: repeat(2, 1rf);
  gap: 10px;
  background-color: rgba(167, 142, 157, 0.831372549);
  justify-items: center;
  padding: 10px;
}

.panaderia .panaderiaGridLines .card.masas_secas {
  grid-column: 1/2;
  grid-row: 1/2;
}

.pananderia .panaderiaGridLines .card.mediaslunas_manteca {
  grid-column: 2/3;
  grid-row: 1/2;
}

.panaderia .panaderiaGridLines .card.baguetin_precocido {
  grid-column: 3/4;
  grid-row: 1/2;
}

.panaderia .panaderiaGridLines .card.cookies_rellenas {
  grid-column: 4/5;
  grid-row: 1/2;
}

.transformaciones img.translate:hover {
  transform: translate(20px, 30px);
  transition: transform 3s ease-in-out 5ms;
}
.transformaciones img.rotate {
  transition-property: transform;
  transition-duration: 2s;
  transition-timing-function: ease-out;
  transition-delay: 10ms;
}
.transformaciones img.rotate:hover {
  transform: rotate(90deg);
}
.transformaciones img.scale:hover {
  transition-property: transform;
  transition-duration: 2s;
  transition-timing-function: ease-out;
  transition-delay: 10ms;
  transform: scale(1.1, 1.1);
}
.transformaciones img.skew:hover {
  transform: skew(5deg, 10deg);
}

/* main, de sucursales */
.sucursales {
  display: flex;
  justify-content: initial;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  margin: 2rem;
}
.sucursales h4 {
  color: #ff0000;
  padding: 5px;
}
.sucursales h4 h5 {
  color: rgb(88, 24, 51);
  padding: 5px;
  text-align: center;
}
.sucursales h4 h6 {
  color: rgb(21, 8, 51);
  padding: 5px;
  text-align: center;
}

.footerDivGlobal {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footerDivGlobal .footerTitle {
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  text-decoration: solid;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(63, 2, 2);
}
.footerDivGlobal .footerListaContacto {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  color: rgb(63, 2, 2);
}
.footerDivGlobal .footerListaContacto .fa-brands,
.footerDivGlobal .footerListaContacto .fa-solid {
  font-size: 15px;
  color: rgb(165, 42, 42);
}
.footerDivGlobal .menuFooter {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: self-start;
}

.copy {
  font-size: 25px;
  text-align: center;
  color: rgb(63, 2, 2);
}

.copyComentario {
  font-size: 15px;
  text-align: center;
  color: rgb(63, 2, 2);
}

/*# sourceMappingURL=estilos.css.map */
